/streamdumper
/txtfft
*.raw
/rgen
*.o
*.fft
*.multitxt
/multitxtfft
/gtkpelda
/slidergrapher
*.bin
*.mp3
/rawaudioconverter
*.txtraw
*.txtdata
/try_window_function
/x.txt
*.txt
/detector_tester_area
/detector_tester_area_graph
